.card {
    display: flex;
    flex-direction: column;
    width: 8rem;
    gap: .5rem;
}

@media screen and (min-width: 360px) {
    .card {
        width: 9rem;
    }
}

@media screen and (min-width: 375px) {
    .card {
        width: 10rem;
    }
}

@media screen and (min-width: 425px) {
    .card {
        width: 10.75rem;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 10.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: auto;
    }
}