.new-product__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;;
}

.new-product__form__container {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}