.new-product__form__label__drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background: var(--white);
    border: 2px dashed var(--dark-grey);
    padding: 1rem 0;
    cursor: pointer;
    transition: all .5s;
}

.new-product__form__label__drop:hover {
    border-color: var(--black); 
}

.new-product__form__label__drop:hover .new-product__form__label__drop--svg path {
    fill: var(--black);
}

.new-product__form__label__drop:hover .new-product__form__label__drop--span {
    color: var(--black);
}

.new-product__form__label__drop--svg {
    width: 2rem;
}

.new-product__form__label__drop--svg path {
    transition: all .5s;
    fill: var(--dark-grey);
}

.new-product__form__label__drop--span {
    text-align: center;
    color: var(--dark-grey);
    font-weight: var(--semibold);
    transition: all .5s;
}

@media screen and (min-width: 425px) {
    .new-product__form__label__drop {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .new-product__form__label__drop {
        padding: 2rem 1rem;
    }
}