.form__textarea {
    border: none;
    background: transparent;
    font-family: var(--raleway);
    width: 100%;
    resize: none;
    font-size: 18px;
}


.form__textarea:focus {
    outline: none;
}